'body':
  'cmd-enter': 'command-palette:toggle'
  'cmd-o': 'core:save'
  'shift-cmd-o': 'core:save-as'
  'cmd-w': 'application:show-settings'
  'cmd-,': 'core:close'
  'cmd-j': 'core:copy'
  'cmd-k': 'core:paste'
  'cmd-q': 'core:cut'
  'cmd-;': 'core:undo'
  'cmd-k up': 'unset!'
  'cmd-k down': 'unset!'
  'cmd-k left': 'unset!'
  'cmd-k right': 'unset!'
  'cmd-k ctrl-w': 'unset!'
  'cmd-k ctrl-alt-w': 'unset!'
  'cmd-k ctrl-p': 'unset!'
  'cmd-k ctrl-n': 'unset!'
  'cmd-k ctrl-up': 'unset!'
  'cmd-k ctrl-down': 'unset!'
  'cmd-k ctrl-left': 'unset!'
  'cmd-k ctrl-right': 'unset!'
'atom-workspace atom-text-editor':
  'cmd-k ctrl-u': 'unset!'
  'cmd-k ctrl-l': 'unset!'
'atom-workspace atom-text-editor:not([mini])':
  'cmd-k ctrl-0': 'unset!'
  'cmd-k ctrl-1': 'unset!'
  'cmd-k ctrl-2': 'unset!'
  'cmd-k ctrl-3': 'unset!'
  'cmd-k ctrl-4': 'unset!'
  'cmd-k ctrl-5': 'unset!'
  'cmd-k ctrl-6': 'unset!'
  'cmd-k ctrl-7': 'unset!'
  'cmd-k ctrl-8': 'unset!'
  'cmd-k ctrl-9': 'unset!'
'.platform-win32, .platform-linux': 'cmd-k ctrl-b': 'unset!'
'.platform-win32 .tree-view, .platform-linux .tree-view':
  'cmd-k right': 'unset!'
  'cmd-k l': 'unset!'
  'cmd-k left': 'unset!'
  'cmd-k h': 'unset!'
  'cmd-k up': 'unset!'
  'cmd-k k': 'unset!'
  'cmd-k down': 'unset!'
  'cmd-k j': 'unset!'
'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'cmd-k ctrl-d': 'unset!'

